export GH_TOKEN=<GITHUB_PAT>
export GITHUB_REPOSITORY_OWNER=<GITHUB_REPO_OWNER>
export GITHUB_REPOSITORY=<GITHUB_REPO>
export GITHUB_SHA=<GITHUB_COMMIT_HASH>
export GITHUB_OUTPUT=<GITHUB_OUTPUT_FILE>
export GITHUB_STEP_SUMMARY=<GITHUB_SUMMARY_OUTPUT_FILE>
